.meme-cover {
  background-color: snow;
  height: 400px;
  display: flex;
  justify-content: center;
}
.meme-cover img {
  width: 100%;
  height: 250px;
}
.meme-info {
  background-color: silver;
  padding: 10px;
  height: 400px;
}
