.center {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 300px;
    min-width: 230px;
	height: 250px;
    min-height: 250px;
    
    background-color: #fff;
    margin: 10px;

    position: relative;
}


.card .card-img {
	width: 100%;
    height: calc( 100% - 50px );
    
	display: flex;
	justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.card-img:hover {
    cursor: pointer;
}
.card img {
    width: 100%;
	height: 100%;
}

.card .card-body {
    width: 100%;
    height: 50px;
    padding: 5px 20px;

    background: #eee;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
}

.card-controls {
    display: flex;
}

.card .control {
    margin: 0 3px;
}
.card .heart {
    color: rgb(255, 40, 40);
}