
.App {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    position: relative;
}

.nav-list {
    width: 5rem;
    height: 100vh;
    padding: 1rem 0;
    position: fixed;
    background-color: sandybrown;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.nav-item {
    list-style: none;
    font-size: 1rem;
    text-align: center;
}
.nav-item a {
    text-decoration: none;
}
.nav-item i {
    font-size: 2rem;
}


.app-content {
    min-height: 100vh;
    background-color: slategrey;
    margin-left: 5rem;
    /* padding: 1rem 0rem 1rem 0rem; */
}

@media screen and (max-width: 829px) {
    .nav-list {
        z-index: 100;
        width: 100vw;
        height: 4rem;
        padding: 0 40px;
        margin: 0;
        position: fixed;
        background-color: sandybrown;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /* gap: 2rem; */
        bottom: 0;
    }
    .nav-item {
        list-style: none;
        font-size: 1rem;
        text-align: center;
    }
    .nav-item a {
        text-decoration: none;
    }
    .nav-item i {
        font-size: 1.5rem;
    }

    .app-content {
        min-height: 100vh;
        background-color: slategrey;
        margin-left: 0;
        padding: 0rem 0rem 4rem;
    }
}
